<%= render partial: 'shared/logged_in_nav' %>
<div class="page-wrapper" style="padding-top:50px">
  <%= form_for(:session, url: login_path) do |f| %>
<div class="form">
  <form class="register-form">
    <%= f.text_field :email, placeholder: "email" %>
    <%= f.password_field :password_digest, placeholder: "Password" %>
  </form>
  <%= f.submit "Login" %>
  <% end %>
</div>
</div>
