<%= render partial: 'shared/logged_in_nav' %>
<% if current_user.roles.pluck(:name).include?("teacher") %>
<%= render partial: 'teacher_show' %>
<% else %>
<div class="container-fluid">
<div class=" well well-sm  bg-white borderZero">
     <div class="btn-group date-block btn-group-justified font-small dropdown" data-toggle="buttons">
         <label  href="#account" data-toggle="tab" class="btn btn-default previous text-right font-small semiBold" title="Previous Day" style="font-size:12px;">
           Account Info | Tutoring Sessions
         </label>
         <label href="#my_scores" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
           My Scores
         </label>
         <label  href="#study-guides" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
           My Study Guides
         </label>
         <label  href="#reports" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
           My Reports
         </label>
     </div>
 </div>
   <div id="myTabContent" class="tab-content">
     <div  role="tabpanel" class="active tab-pane" id="reports">
       <% current_user.attachments.where(name: 'report').each do |attachment| %>
       <ol>
         <li><%= link_to attachment.avatar_file_name, attachment.avatar.url, target: :_blank %></li>
         <% end %>
       </ol>
    </div>
   <div  role="tabpanel" class="active tab-pane" id="account">
     <div class="mainbody container-fluid">
         <div class="row">
             <div class="col-lg-3 col-md-3">
                 <div class="panel panel-default">
                     <div class="panel-body">
                         <div class="media">
                             <div align="center">
                                 <!-- <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px"> -->
                             </div>
                             <div class="media-body">
                                <center><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Edit My Info</button>
                                   <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal2">Edit My Password</button>
                                </center>
                                 <hr>
                                 <h3><strong><%= current_user.name %></strong></h3>
                                 <hr>
                                 <h3><strong>Email</strong></h3>
                                 <p><%= current_user.email %> </p>
                                 <hr>
                                 <h3><strong>Address</strong></h3>
                                 <p><%= current_user.address %></p>
                                 <hr>
                                 <h3><strong>Phone</strong></h3>
                                 <p><%= current_user.phone %></p>
                                 <hr>
                                 <h3><strong>Grade</strong></h3>
                                 <p> <%= current_user.grade %></p>
                                 <h3><strong>Parent Name</strong></h3>
                                 <p> <%= current_user.parent_name %></p>
                                 <h3><strong>Parent Email</strong></h3>
                                 <p> <%= current_user.parent_email %></p>
                                 <h3><strong>Parent Number</strong></h3>
                                 <p> <%= current_user.parent_number %></p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- #start of one post -->
             <% current_user.lessons.each do |lesson| %>
             <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
             <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                 <!-- Simple post content example. -->
                 <div class="panel panel-default">
                     <div class="panel-body">
                         <div class="pull-left">
                             <a href="#">
                                 <!-- <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;"> -->
                             </a>
                         </div>
                         <h4><a href="#" style="text-decoration:none;"><strong>Teacher: <%= lesson.teacher.name %> </strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> <%= lesson.created_at.strftime("%b %d. %Y") %>  </i></a></small></small></h4>
                         <span>
                             <!-- <div class="navbar-right">
                                 <div class="dropdown">
                                     <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                         <i class="fa fa-cog" aria-hidden="true"></i>
                                         <span class="caret"></span>
                                     </button>
                                     <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                         <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                         <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                         <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                         <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                         <li role="separator" class="divider"></li>
                                         <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                     </ul>
                                 </div>
                             </div> -->
                         </span>
                         <hr>
                         <div class="post-content">
                             <h4>Notes</h4>
                            <p> <%= lesson.notes %> </p>
                         </div>
                         <div class="post-content">
                             <h4>Homework</h4>
                            <p> <%= lesson.homework %> </p>
                         </div>
                         <hr>
                         <div>
                             <!-- <div class="pull-right btn-group-xs">
                                 <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                                 <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                                 <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                             </div> -->
                             <div class="pull-left">
                                 <p class="text-muted" style="margin-left:5px;"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> <%= lesson.length %> (session length)</p>
                             </div>
                             <br>
                         </div>
                         <hr>
                         <!-- <div class="media">
                             <div class="pull-left">
                                 <a href="#">
                                     <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                 </a>
                             </div>
                             <div class="media-body">
                                 <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                             </div>
                         </div> -->
                     </div>
                 </div>
             </div>
             <!-- #end of post -->
             <% end %>
         </div>
     </div>
   </div>
   <div  role="tabpanel" class="tab-pane" id="my_scores">
     <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#sat">Add Sat Score</button>
     <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#act">Add ACT Score</button>
     <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#act_practice">Add ACT Practice Scores</button>
     <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#sat_practice">Add SAT Practice Scores</button>
     <div class="table-responsive" style="margin-top: 10px;">
       <table class="table table-bordered table-hover table-striped">
         <thead>
           <tr>
             <th colspan="4">Sat Scores</th>
           </tr>
           <tr>
             <th>Sat Math</th>
             <th>SAT English</th>
             <th>SAT Date</th>
             <th>Delete</th>
           </tr>
         </thead>
         <tbody>
           <% current_user.sat_scores.each do |score| %>
           <tr>
             <td> <%= score.math %></td>
             <td> <%= score.english %></td>
             <td> <%= score.date %></td>
             <td><%= link_to "", sat_score_path(score), method: :put, :class=> "fa fa-trash-o fa-lg" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
     <div class="table-responsive" style="margin-top: 10px;">
       <table class="table table-bordered table-hover table-striped">
         <thead>
           <tr>
             <th colspan="6">ACT Scores</th>
           </tr>
           <tr>
             <th>ACT Math</th>
             <th>ACT Englth</th>
             <th>ACT Science</th>
             <th>ACT Reading</th>
             <th>ACT Date</th>
             <th>Delete</th>
           </tr>
         </thead>
         <tbody>
           <% current_user.act_scores.each do |score| %>
           <tr>
             <td> <%= score.math %></td>
             <td> <%= score.english %></td>
             <td> <%= score.science %></td>
             <td> <%= score.reading %></td>
             <td> <%= score.date %></td>
             <td><%= link_to "", sat_score_path(score), method: :put, :class=> "fa fa-trash-o fa-lg" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
     <div class="table-responsive" style="margin-top: 10px;">
       <table class="table table-bordered table-hover table-striped">
         <thead>
           <tr>
             <th colspan="6">ACT Practice Scores</th>
           </tr>
           <tr>
             <th>ACT Practice Math</th>
             <th>ACT Practice Englth</th>
             <th>ACT Practice Science</th>
             <th>ACT Practice Reading</th>
             <th>ACT Practice Date</th>
             <th>Delete</th>
           </tr>
         </thead>
         <tbody>
           <% current_user.act_practices.each do |score| %>
           <tr>
             <td> <%= score.math %></td>
             <td> <%= score.english %></td>
             <td> <%= score.science %></td>
             <td> <%= score.reading %></td>
             <td> <%= score.date %></td>
             <td><%= link_to "", sat_score_path(score), method: :put, :class=> "fa fa-trash-o fa-lg" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
     <div class="table-responsive" style="margin-top: 10px;">
       <table class="table table-bordered table-hover table-striped">
         <thead>
           <tr>
             <th colspan="6">Sat Practice Scores</th>
           </tr>
           <tr>
             <th>SAT Practice Math</th>
             <th>SAT Practice Englth</th>
             <th>SAT Practice Date</th>
             <th>Delete</th>
           </tr>
         </thead>
         <tbody>
           <% current_user.sat_practices.each do |score| %>
           <tr>
             <td> <%= score.math %></td>
             <td> <%= score.english %></td>
             <td> <%= score.date %></td>
             <td><%= link_to "", sat_score_path(score), method: :put, :class=> "fa fa-trash-o fa-lg" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
   </div>
   <div  role="tabpanel" class="active tab-pane" id="study-guides">
     <% current_user.attachments.where(name: 'study').each do |attachment| %>
     <ol>
       <li><%= link_to attachment.avatar_file_name, attachment.avatar.url, target: :_blank %></li>
     </ol>
    <% end %>
   </div>
 </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Your Profile</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @user do |f| %>
                        <div class="form-group">
                          <%= f.label :name, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :name, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :email, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :email, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :phone, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :phone, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :address, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :address, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :parent_name, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :parent_name, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :parent_email, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :parent_email, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :parent_number, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :parent_number, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="sat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add A New Sat Score</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @sat do |f| %>
                        <div class="form-group">
                          <%= f.label :math, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :math, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :english, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :english, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :date, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :date, class: "input-md textinput textInput form-control", placeholder: 'example 12/16/91' %>
                          <%=  f.hidden_field :user_id, :value => @user.id %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="sat_practice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add A New Sat Practice Score</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @sat_practice do |f| %>
                        <div class="form-group">
                          <%= f.label :math, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :math, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :english, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :english, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :date, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :date, class: "input-md textinput textInput form-control", placeholder: 'example 12/16/91' %>
                          <%=  f.hidden_field :user_id, :value => @user.id %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Your Password</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @user do |f| %>
                        <div class="form-group">
                          <%= f.label :password, class: "control-lable col-md-4 required-field" %>
                          <%= f.password_field :password, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password_confirmation, class: "control-lable col-md-4 required-field" %>
                          <%= f.password_field :password_confirmation, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="act" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new ACT score</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @act do |f| %>
                        <div class="form-group">
                          <%= f.label :math, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :math, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :english, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :english, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :reading, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :reading, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :science, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :science, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :date, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :date, class: "input-md textinput textInput form-control", placeholder: 'example 12/16/91' %>
                          <%=  f.hidden_field :user_id, :value => @user.id %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="act_practice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new ACT Practice Score</h4>
            </div>
            <div class="modal-body">
              <div class="panel-body new-user">
                      <%= form_for @act_practice do |f| %>
                        <div class="form-group">
                          <%= f.label :math, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :math, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :english, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :english, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :reading, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :reading, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :science, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :science, class: "input-md textinput textInput form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :date, class: "control-lable col-md-4 required-field" %>
                          <%= f.text_field :date, class: "input-md textinput textInput form-control", placeholder: 'example 12/16/91' %>
                          <%=  f.hidden_field :user_id, :value => @user.id %>
                        </div>
                        <div class="form-group">
                          <%= f.submit class: "btn btn-warning"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<% end %>
