<%= render partial: 'shared/nav' %>
<div id="page-wrapper" style="padding-top: 10px">
  <div class=" well well-sm  bg-white borderZero">
       <div class="btn-group date-block btn-group-justified font-small dropdown" data-toggle="buttons">
           <label href="#account" data-toggle="tab" class="btn btn-default next font-small semiBold" style="font-size:12px; border-radius:0;">
              Profile
           </label>
           <label href="#contacted" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
             Contacted
           </label>
           <label  href="#scores" data-toggle="tab" class="btn btn-default previous text-right font-small semiBold" title="Previous Day" style="font-size:12px;">
             Test Scores
           </label>
           <label href="#study" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
               Study Guides
           </label>
           <label href="#reports" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
             Reports
           </label>
       </div>
   </div>
     <div id="myTabContent" class="tab-content">
       <div  role="tabpanel" class="active tab-pane" id="account">
         <%= render partial: 'admin/student/tutoring' %>
       </div>
     <div  role="tabpanel" class="tab-pane" id="scores">
       <%= render partial: 'admin/student/profile' %>
     </div>
     <div  role="tabpanel" class="tab-pane" id="study">
       <div class="row">
         <div class="col-lg-6">
           <h2>Upload Study Guide</h2>
           <%= form_for @attachment, url: admin_attachment_index_path, html: { multipart: true } do |form| %>
           <%= form.file_field :avatar %>
           <%= form.hidden_field :user_id, :value => @student.id %>
           <%= form.hidden_field :name, :value => 'study' %>
           <br>
           <%= form.submit 'Upload Study Guide'%>
           <% end %>
         </div>
         <div class="col-lg-6">
           <h2>Study Guides</h2>
           <ol>
           <% @student.attachments.each do |a| %>
           <li><%= link_to a.avatar_file_name, a.avatar.url %></li>
           <% end %>
         </ol>
         </div>
         </div>
       </div>
     <div  role="tabpanel" class="tab-pane" id="contacted">
       <table class="table table-bordered table-hover table-striped">
           <thead>
               <tr>
                   <th>Notes</th>
                   <th>Date</th>
               </tr>
           </thead>
           <tbody>
             <% @student.contacteds.reverse.each do |contact| %>
               <tr>
                   <td><%= contact.notes %></td>
                   <td><%= contact.created_at.strftime("%b %d, %Y") %></td>
               </tr>
               <% end %>
           </tbody>
       </table>
     </div>
     <div  role="tabpanel" class="tab-pane" id="reports">
       <div class="row">
         <div class="col-lg-6">
           <h2>Upload Report</h2>
           <%= form_for @attachment, url: admin_attachment_index_path, html: { multipart: true } do |form| %>
           <%= form.file_field :avatar %>
           <%= form.hidden_field :user_id, :value => @student.id %>
           <%= form.hidden_field :name, :value => 'study' %>
           <br>
           <%= form.submit  "Upload Report"%>
           <% end %>
         </div>
         <div class="col-lg-6">
           <h2>Current Reports</h2>
           <ol>
           <% @student.attachments.where(name: 'report').each do |a| %>
           <li><%= link_to a.avatar_file_name, a.avatar.url %></li>
           <% end %>
         </ol>
         </div>
         </div>
     </div>
   </div>
</div>
