<%= render partial: 'shared/nav' %>
<div id="page-wrapper" style="padding-top: 10px">
  <div class=" well well-sm  bg-white borderZero">
       <div class="btn-group date-block btn-group-justified font-small dropdown" data-toggle="buttons">
           <label href="#account" data-toggle="tab" class="btn btn-default next font-small semiBold" style="font-size:12px; border-radius:0;">
              Profile
           </label>
           <label href="#contacted" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
             Contacted
           </label>
           <label  href="#scores" data-toggle="tab" class="btn btn-default previous text-right font-small semiBold" title="Previous Day" style="font-size:12px;">
             Test Scores
           </label>
           <label href="#study" data-toggle="tab" class="btn date-buttons btn-default text-right semiBold" style="font-size:12px;" >
               Study Guides
           </label>
       </div>
   </div>
     <div id="myTabContent" class="tab-content">
       <div  role="tabpanel" class="active tab-pane" id="account">
         <%= render partial: 'admin/student/tutoring' %>
       </div>
     <div  role="tabpanel" class="tab-pane" id="scores">
       <%= render partial: 'admin/student/profile' %>
     </div>
     <div  role="tabpanel" class="tab-pane" id="study">
       <h2>Current Study Guides</h2>

     </div>
     <div  role="tabpanel" class="tab-pane" id="contacted">
       <table class="table table-bordered table-hover table-striped">
           <thead>
               <tr>
                   <th>Notes</th>
                   <th>Date</th>
               </tr>
           </thead>
           <tbody>
             <% @student.contacteds.reverse.each do |contact| %>
               <tr>
                   <td><%= contact.notes %></td>
                   <td><%= contact.created_at.strftime("%b %d, %Y") %></td>
               </tr>
               <% end %>
           </tbody>
       </table>
     </div>
   </div>
</div>
