<%= render partial: 'shared/nav' %>
<div id="page-wrapper">
  <br>
  <div class="row">
    <% @teachers.each do |teacher| %>
    <div class="col-md-6 current-pairing-row">
      <div class="pane">
          <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <td colspan="6">Teacher: <%= teacher.name %> | Rate: <%= teacher.find_rate %>$ an hour
              </td>
            </tr>
              <tr>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Delete</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
            <% teacher.users.each do |student|  %>
              <tr>
                  <td><%= link_to student.name, admin_student_path(student) %></td>
                  <td id="<%=student.find_pair(teacher)%>"><%= student.email %></td>
                  <td><%= student.grade %></td>
                  <td> <%= link_to "Delete", admin_pairing_path(student.find_pair(teacher)), method: :delete %> </td>
                  <td>
                    <% if student.pair_status(teacher) == "active" %>
                    <%= link_to "", admin_pairing_path(student.find_pair(teacher)), method: :put, :class=> "fa fa-toggle-on fa-2x" %>
                    <!-- <input id="off-on" type="checkbox" data-on="Active" data-off="Not Active" data-toggle="toggle" data-size="mini"> -->
                    <% else %>
                    <%= link_to "", admin_pairing_path(student.find_pair(teacher)), method: :put, :class=> "fa fa-toggle-off fa-2x" %>
                    <!-- <input id="on-off" type="checkbox" data-on="Active" data-off="Not Active" data-toggle="toggle" data-size="mini"> -->
                    <% end %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </div>
  </div>
    <% end %>
  </div>

</div>
