<%= render partial: 'shared/nav' %>
<div id="page-wrapper">
  <br>
  <div class="row">
    <% @teachers.each do |teacher| %>
    <div class="col-md-6 current-pairing-row" style="padding: 2px;">
      <div class="pane">
          <table class="table table-bordered table-hover table-striped">

          <thead>
            <tr>
              <td colspan="6">Teacher: <%= teacher.name %> | Rate: <%= teacher.find_rate %>$ an hour
              </td>
            </tr>
              <tr>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Delete</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
            <% teacher.users.each do |student|  %>
              <tr>
                  <td><%= student.name %></td>
                  <td id="<%=student.find_pair(teacher)%>"><%= student.email %></td>
                  <td><%= student.grade %></td>
                  <td>Delete</td>
                  <td>
                    <% if student.pair_status(teacher) == "active" %>
                    <input id="off-on" type="checkbox" data-on="Active" data-off="Not Active" checked data-toggle="toggle" data-size="mini">
                    <% else %>
                    <input id="on-off" type="checkbox" data-on="Active" data-off="Not Active" data-toggle="toggle" data-size="mini">
                    <% end %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </div>
    <% end %>
    </div>
  </div>

</div>
